<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.denys.dw.servlet.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <display-name>DiplomaWork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.denys.dw.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.denys.dw.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccount</display-name>
    <servlet-name>UpdateAccount</servlet-name>
    <servlet-class>com.denys.dw.servlet.UpdateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccount</servlet-name>
    <url-pattern>/UpdateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputFile</display-name>
    <servlet-name>InputFile</servlet-name>
    <servlet-class>com.denys.dw.servlet.InputFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputFile</servlet-name>
    <url-pattern>/InputFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactInfo</display-name>
    <servlet-name>UpdateContactInfo</servlet-name>
    <servlet-class>com.denys.dw.servlet.UpdateContactInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactInfo</servlet-name>
    <url-pattern>/UpdateContactInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBirth</display-name>
    <servlet-name>UpdateBirth</servlet-name>
    <servlet-class>com.denys.dw.servlet.UpdateBirth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBirth</servlet-name>
    <url-pattern>/UpdateBirth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddress</display-name>
    <servlet-name>UpdateAddress</servlet-name>
    <servlet-class>com.denys.dw.servlet.UpdateAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddress</servlet-name>
    <url-pattern>/UpdateAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.denys.dw.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.denys.dw.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessage</display-name>
    <servlet-name>SendMessage</servlet-name>
    <servlet-class>com.denys.dw.servlet.SendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessage</servlet-name>
    <url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMessage</display-name>
    <servlet-name>LoadMessage</servlet-name>
    <servlet-class>com.denys.dw.servlet.LoadMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMessage</servlet-name>
    <url-pattern>/LoadMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadChats</display-name>
    <servlet-name>LoadChats</servlet-name>
    <servlet-class>com.denys.dw.servlet.LoadChats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadChats</servlet-name>
    <url-pattern>/LoadChats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadContacts</display-name>
    <servlet-name>LoadContacts</servlet-name>
    <servlet-class>com.denys.dw.servlet.LoadContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadContacts</servlet-name>
    <url-pattern>/LoadContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadUsers</display-name>
    <servlet-name>LoadUsers</servlet-name>
    <servlet-class>com.denys.dw.servlet.LoadUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUsers</servlet-name>
    <url-pattern>/LoadUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserToContact</display-name>
    <servlet-name>AddUserToContact</servlet-name>
    <servlet-class>com.denys.dw.servlet.AddUserToContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserToContact</servlet-name>
    <url-pattern>/AddUserToContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserFromContact</display-name>
    <servlet-name>DeleteUserFromContact</servlet-name>
    <servlet-class>com.denys.dw.servlet.DeleteUserFromContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserFromContact</servlet-name>
    <url-pattern>/DeleteUserFromContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateChat</display-name>
    <servlet-name>CreateChat</servlet-name>
    <servlet-class>com.denys.dw.servlet.CreateChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateChat</servlet-name>
    <url-pattern>/CreateChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserStatusServlet</display-name>
    <servlet-name>UserStatusServlet</servlet-name>
    <servlet-class>com.denys.dw.servlet.UserStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserStatusServlet</servlet-name>
    <url-pattern>/UserStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckFriendStatus</display-name>
    <servlet-name>CheckFriendStatus</servlet-name>
    <servlet-class>com.denys.dw.servlet.CheckFriendStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckFriendStatus</servlet-name>
    <url-pattern>/CheckFriendStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteChat</display-name>
    <servlet-name>DeleteChat</servlet-name>
    <servlet-class>com.denys.dw.servlet.DeleteChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteChat</servlet-name>
    <url-pattern>/DeleteChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFile</display-name>
    <servlet-name>SendFile</servlet-name>
    <servlet-class>com.denys.dw.servlet.SendFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFile</servlet-name>
    <url-pattern>/SendFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFiles</display-name>
    <servlet-name>DeleteFiles</servlet-name>
    <servlet-class>com.denys.dw.servlet.DeleteFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFiles</servlet-name>
    <url-pattern>/DeleteFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageToGroup</display-name>
    <servlet-name>SendMessageToGroup</servlet-name>
    <servlet-class>com.denys.dw.servlet.SendMessageToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageToGroup</servlet-name>
    <url-pattern>/SendMessageToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMessageToGroup</display-name>
    <servlet-name>LoadMessageToGroup</servlet-name>
    <servlet-class>com.denys.dw.servlet.LoadMessageToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMessageToGroup</servlet-name>
    <url-pattern>/LoadMessageToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendFileToGroup</display-name>
    <servlet-name>SendFileToGroup</servlet-name>
    <servlet-class>com.denys.dw.servlet.SendFileToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendFileToGroup</servlet-name>
    <url-pattern>/SendFileToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadUsersToGroup</display-name>
    <servlet-name>LoadUsersToGroup</servlet-name>
    <servlet-class>com.denys.dw.servlet.LoadUsersToGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUsersToGroup</servlet-name>
    <url-pattern>/LoadUsersToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckGroupFriendStatus</display-name>
    <servlet-name>CheckGroupFriendStatus</servlet-name>
    <servlet-class>com.denys.dw.servlet.CheckGroupFriendStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckGroupFriendStatus</servlet-name>
    <url-pattern>/CheckGroupFriendStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserFromGroupChat</display-name>
    <servlet-name>DeleteUserFromGroupChat</servlet-name>
    <servlet-class>com.denys.dw.servlet.DeleteUserFromGroupChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserFromGroupChat</servlet-name>
    <url-pattern>/DeleteUserFromGroupChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePhotoGroup</display-name>
    <servlet-name>UpdatePhotoGroup</servlet-name>
    <servlet-class>com.denys.dw.servlet.UpdatePhotoGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePhotoGroup</servlet-name>
    <url-pattern>/UpdatePhotoGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNameGroup</display-name>
    <servlet-name>UpdateNameGroup</servlet-name>
    <servlet-class>com.denys.dw.servlet.UpdateNameGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNameGroup</servlet-name>
    <url-pattern>/UpdateNameGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitGroupChat</display-name>
    <servlet-name>ExitGroupChat</servlet-name>
    <servlet-class>com.denys.dw.servlet.ExitGroupChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitGroupChat</servlet-name>
    <url-pattern>/ExitGroupChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGroupChat</display-name>
    <servlet-name>DeleteGroupChat</servlet-name>
    <servlet-class>com.denys.dw.servlet.DeleteGroupChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroupChat</servlet-name>
    <url-pattern>/DeleteGroupChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckGroupOnlineUsers</display-name>
    <servlet-name>CheckGroupOnlineUsers</servlet-name>
    <servlet-class>com.denys.dw.servlet.CheckGroupOnlineUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckGroupOnlineUsers</servlet-name>
    <url-pattern>/CheckGroupOnlineUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateGroupChat</display-name>
    <servlet-name>CreateGroupChat</servlet-name>
    <servlet-class>com.denys.dw.servlet.CreateGroupChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupChat</servlet-name>
    <url-pattern>/CreateGroupChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSocialMedia</display-name>
    <servlet-name>UpdateSocialMedia</servlet-name>
    <servlet-class>com.denys.dw.servlet.UpdateSocialMedia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSocialMedia</servlet-name>
    <url-pattern>/UpdateSocialMedia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadGroups</display-name>
    <servlet-name>LoadGroups</servlet-name>
    <servlet-class>com.denys.dw.servlet.LoadGroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadGroups</servlet-name>
    <url-pattern>/LoadGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserToGroupChat</display-name>
    <servlet-name>AddUserToGroupChat</servlet-name>
    <servlet-class>com.denys.dw.servlet.AddUserToGroupChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserToGroupChat</servlet-name>
    <url-pattern>/AddUserToGroupChat</url-pattern>
  </servlet-mapping>
</web-app>